# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
servicemongo/node_modules
frontend/node_modules 
service-mongo-graphql/node_modules

# testing
/coverage

# production
frontend/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

